@import "tailwindcss";

@import "swiper/css";



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 50px;
  background: #444;

  display: flex;
  justify-content: center;
  align-items: center;
}
