@import "tailwindcss";

@import "swiper/css";



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 50px;
  background: #444;

  display: flex;
  justify-content: center;
  align-items: center;
}


.animate-icon-cart {
  animation: animationCart .4s;
}

@keyframes animationCart {
  0%{transform: rotate(20deg);}
  25%{transform: rotate(-20deg);}
  50%{transform: rotate(20deg);}
  75%{transform: rotate(-20deg);}
  100%{transform: rotate(0deg);}
}
